accelerate==1.12.0
aiohttp==3.13.3
einops==0.8.2
gradio==6.5.1
huggingface_hub==1.4.1
numpy==2.4.2
pyloudnorm==0.2.0
safetensors==0.7.0
scipy==1.17.0
sentencepiece==0.2.1
sphn==0.2.1
torch==2.10.0
tqdm==4.67.1
websockets==12.0
